.socials {
    ul {
        
        display: flex;
        
        > li {
            
            list-style: none;
            padding: 5px;

            .facebook {
                display: block;
                background: url('../../images/sprite-socials.png') no-repeat 0 0;
                width: 17px;
                height: 16px;

                &:hover {
                    background: url('../../images/sprite-socials.png') no-repeat 0 -24px;
                    width: 17px;
                    height: 16px;
                }
            }

            .twitter {
                display: block;
                background: url('../../images/sprite-socials.png') no-repeat -30px -2px;
                width: 17px;
                height: 16px;

                &:hover {
                    background: url('../../images/sprite-socials.png') no-repeat -30px -26px;
                    width: 17px;
                    height: 16px;
                }
            }

            .rss {
                display: block;
                background: url('../../images/sprite-socials.png') no-repeat -64px -1px;
                width: 17px;
                height: 16px;

                &:hover {
                    background: url('../../images/sprite-socials.png') no-repeat -64px -25px;
                    width: 17px;
                    height: 16px;
                }
            }

            .linkedin {
                display: block;
                background: url('../../images/sprite-socials.png') no-repeat -96px 0;
                width: 17px;
                height: 16px;

                &:hover {
                   background: url('../../images/sprite-socials.png') no-repeat -96px -24px;
                   width: 17px;
                   height: 16px;
                }
            }

            .skype {
                display: block;
                background: url('../../images/sprite-socials.png') no-repeat -129px 0;
                width: 17px;
                height: 16px;

                &:hover {
                    background: url('../../images/sprite-socials.png') no-repeat -129px -24px;
                    width: 17px;
                    height: 16px;
                }
            }
        }           
    }
}