// breakpoints
$mobile:  320px;
$tablet:  768px;
$desktop: 1440px;

// fonts
$headers: 'Montserrat', sans-serif;
$texts: 'Roboto', sans-serif;

// colors
$white:   #fff;
$black: #444;
$button: #ff4e50;
$hover: #ffd74e;

