// breakpoints

// fonts
$menu-font: 'Ubuntu Condensed', Arial, sans-serif;
$header-font: 'Ubuntu', Arial, sans-serif;
$text-font: Arial, sans-serif;

// colors
$border-right:   #181a1d;
$menu-bg-grey:   #2a2d32;
$headers-black:  #2a2b2e;
$srch-txt-grey:  #626466;
$search-grey:    #35383c;
$parag-grey:     #8a8a8a;
$comments-grey:  #9e9e9e;
$nums-grey:      #efeff0;
$news-bg-grey:   #f7f7f7;
$hover-yellow:   #f4b60d;
$comments-blue:  #0187f4;
$active-blue:    #248cec;

