header,
main,
footer {
  padding: 0 calc(50% - 150px);
}

header {
  height: 540px;
}

main {
  height: 3172px;
}

footer {
  height: 189px;
}





@media(min-width: $tablet) {
  header,
  main,
  footer {
    padding: 0 calc(50% - 374px);
  }

  header {
    height: 700px;
  }

    main {
    height: 2501px;
  }

  footer {
    height: 196px;
  }

}

@media(min-width: $desktop) {
  header,
  main,
  footer {
    padding: 0 calc(50% - 464px);
  }

 header {
    height: 700px;
  }

  main {
    height: 2501px;
  }

  footer {
    height: 193px;
  }
}






