main {
    border-bottom: 4px solid $pink;

    h3 {
        font-family: $headers;
        font-size: 22px;
        text-align: center;
    }

    .sliders {

        .slider {
            margin-bottom: 10px;
            position: relative;
        }

        .jcarousel {
            width: 300px;
            position: relative;
            overflow: hidden;
            ul {
                width: 20000em;
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    width: 300px;
                    height: 240px;
                    left: 0;
                    top: 0;
                    float: left;
                }

                .item-1 {
                    background-image: url('../images/carousel-1--mobile.jpg');
                }
                .item-2 {
                    background-image: url('../images/carousel-2--mobile.jpg');
                }
                .item-3 {
                    background-image: url('../images/carousel-3--mobile.jpg');
                }
            }
        } 

        .controls {
            position: absolute;
            top: 5%;
            display: block;
            width: 30px;
            height: 55px;
            transition: all 200ms ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }

        .jcarousel-prev {
            left: 5px;            
            background-image: url('../images/arrow-left.png');
        }

        .jcarousel-next {
            right: 5px;
            background-image: url('../images/arrow-right.png');
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 10px;
            color: $white;

            a {
                font-weight: normal;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 20px;
                font-size: 10px;
                color: $white;
                border: 2px solid rgba(255,255,255,0);
                border-radius: 20px;
                background-color: $pink;
                transition: all 200ms ease-in;

                &:hover {
                    background-color: $hover;
                    color: $black;
                    cursor: pointer;
                }
            }

            h4 {
                margin: 10px 0;
                font-family: $headers;
                font-size: 24px;
            }

            p {
                font-family: $texts;
                font-size: 14px;
                font-weight: lighter;
                opacity: 0.8;
            }
        }

        @media(min-width: $tablet) {
            .jcarousel {
                width: 236px;

                ul {
                    li {
                        width: 236px;
                        height: 401px;
                    }

                    .item-1 {
                        background-image: url('../images/carousel-1--tablet.jpg');
                    }
                    .item-2 {
                        background-image: url('../images/carousel-2--tablet.jpg');
                    }
                    .item-3 {
                        background-image: url('../images/carousel-3--tablet.jpg');
                    }
                }     
            }

            .controls {
                top: 30%;
            }
        }

        @media(min-width: $desktop) {
            .jcarousel {
                width: 300px;

                ul {
                    li {
                        width: 300px;
                        height: 400px;
                    }

                    .item-1 {
                        background-image: url('../images/carousel-1--desktop.jpg');
                    }
                    .item-2 {
                        background-image: url('../images/carousel-2--desktop.jpg');
                    }
                    .item-3 {
                        background-image: url('../images/carousel-3--desktop.jpg');
                    }
                }             
            }

            .controls {
                top: 40%;
            }
        }
    }
}