main {
    border-bottom: 4px solid $pink;

    h3 {
        margin-top: 40px;
        font-family: $headers;
        font-size: 22px;
        text-align: center;
    }

    .sliders {

        .slider {
            margin-bottom: 10px;
            position: relative;
        }

        .jcarousel {
            width: 300px;
            position: relative;
            overflow: hidden;
            ul {
                width: 20000em;
                position: relative;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    display: block;
                    width: 300px;
                    height: 240px;
                    left: 0;
                    top: 0;
                    float: left;
                }

                .item-1 {
                    background-image: url('../images/carousel-1--mobile.jpg');
                }
                .item-2 {
                    background-image: url('../images/carousel-2--mobile.jpg');
                }
                .item-3 {
                    background-image: url('../images/carousel-3--mobile.jpg');
                }
            }
        } 

        .controls {
            position: absolute;
            top: 5%;
            display: block;
            width: 30px;
            height: 55px;
            transition: all 200ms ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }

        .jcarousel-prev {
            left: 10px;            
            background-image: url('../images/arrow-left.png');
        }

        .jcarousel-next {
            right: 10px;
            background-image: url('../images/arrow-right.png');
        }

        .content {
            position: absolute;
            bottom: 0;
            left: 10px;
            color: $white;

            a {
                font-weight: normal;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 20px;
                font-size: 10px;
                color: $white;
                border: 2px solid rgba(255,255,255,0);
                border-radius: 20px;
                background-color: $pink;
                transition: all 200ms ease-in;

                &:hover {
                    background-color: $hover;
                    color: $black;
                    cursor: pointer;
                }
            }

            h4 {
                margin: 10px 0;
                font-family: $headers;
                font-size: 24px;
            }

            p {
                font-family: $texts;
                font-size: 14px;
                font-weight: lighter;
                opacity: 0.8;
            }
        }

        @media(min-width: $tablet) {

            display: flex;
            justify-content: space-between;

            .jcarousel {
                width: 236px;

                ul {
                    li {
                        width: 236px;
                        height: 401px;
                    }

                    .item-1 {
                        background-image: url('../images/carousel-1--tablet.jpg');
                    }
                    .item-2 {
                        background-image: url('../images/carousel-2--tablet.jpg');
                    }
                    .item-3 {
                        background-image: url('../images/carousel-3--tablet.jpg');
                    }
                }     
            }

            .controls {
                top: 10%;
            }
        }

        @media(min-width: $desktop) {
            .jcarousel {
                width: 300px;

                ul {
                    li {
                        width: 300px;
                        height: 400px;
                    }

                    .item-1 {
                        background-image: url('../images/carousel-1--desktop.jpg');
                    }
                    .item-2 {
                        background-image: url('../images/carousel-2--desktop.jpg');
                    }
                    .item-3 {
                        background-image: url('../images/carousel-3--desktop.jpg');
                    }
                }             
            }

            .controls {
                top: 40%;
            }
        }
    }

    .meet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .partners {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            div {
                width: 225px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h5 {
                    font-family: $headers;
                    font-size: 14px;
                    margin-top: 20px;
                    margin-bottom: 0;
                }

                p {
                    font-family: $texts;
                    text-align: center;
                    font-weight: 100;
                    font-size: 14px;
                    color: $grey;
                    opacity: 0.8;
                    margin-bottom: 30px;
                }
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 278px;
            height: 36px;
            border: 2px solid $pink;
            border-radius: 20px;
            font-family: $headers;
            font-weight: bold;
            font-size: 14px;
            color: $pink;
            transition: all 200ms ease-in;

            &:hover {
                border: 2px solid $white;
                background-color: $pink;
                color: $white;
            }
        }

        @media(min-width: $tablet) {
            .partners {
                flex-direction: row;
                justify-content: center;
                align-items: flex-start;
                flex-wrap: wrap;

                div {
                    margin-right: 25px;
                }
            }
        }

        @media(min-width: $desktop) {
            .partners {
                justify-content: space-between;

                div {
                    width: 220px;
                    margin-right: 10px;
                }
            }
        }
    }

    .ideas {

        .grid-sizer {
            width: 300px;
        }

        .grid-item { 
            width: 300px;
            height: 120px;
            margin: 5px 0;
            background-color: pink; 
        }

        @media(min-width: $tablet) {
            .grid-sizer {
                width: 248px;
            }
            .grid-item { 
                width: 236px;
                height: 310px;
                margin: 6px;
                background-color: pink; 
            }

            .grid-item--width2 {
                width: 484px;
                background-color: grey; 
            }
        }

        @media(min-width: $desktop) {
             .grid-sizer {
                width: 320px;
            }
            .grid-item { 
                width: 300px;
                margin: 10px;
                background-color: pink; 
            }

            .grid-item--width2 { 
                width: 620px;
                background-color: grey; 
            }
        }
    }

    @media(min-width: $tablet) {
        h3 {
            margin-top: 100px;
        }
    }
}