.container {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
}

.page-header h1 {
	font-weight: bold;
}

.tips {
	opacity: 0;
	height: 34px;
	padding: 5px;
	margin-bottom: 15px;
	color: black;
	background-color: #D9EDF7;
	border: 1px solid #D9EDF7;
	border-radius: 4px;
	text-align: center;
}