ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 175px;
	width: 175px;
	text-align: center;
}

/*ul li a {
	display: block;
	transition: all 1s;
}

ul li a:hover {
	border: 1px solid black;
}*/