body {
	font-family: Lato, Arial, sans-serif;
    margin-top: 80px;
}

header {
    background-color: #FAFAFA;
    border-bottom: 1px solid #EEE;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.custom-row {
    margin-bottom: 20px;
    margin-top: 20px;
}

.custom-col-left {
	padding: 0;
}

.custom-col-right {
	padding: 0 2px;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    align-items: center;
    border: 5px solid #fff;
    display: flex;
    height: 175px;
    justify-content: center;
    text-align: center;
    transition: all 500ms ease;
    width: 175px;
}

ul li:hover {
    border: 5px solid #ccc;
    border-radius: 4px;
}


