.logo-and-socials {

    @include hor-flex();

    .logo {
        padding-left: 5px;
    }

    .socials {
        ul {
            
            display: flex;
            
            li {
                
                padding: 5px;

                .facebook {
                    display: block;
                    background: url('../images/sprite-socials.png') no-repeat 5px 0;
                    width: 17px;
                    height: 16px;

                    &:hover {
                        background: url('../images/sprite-socials.png') no-repeat 5px -24px;
                        width: 17px;
                        height: 16px;
                    }
                }

                .twitter {
                    display: block;
                    background: url('../images/sprite-socials.png') no-repeat -30px -1px;
                    width: 17px;
                    height: 16px;

                    &:hover {
                        background: url('../images/sprite-socials.png') no-repeat -30px -25px;
                        width: 17px;
                        height: 16px;
                    }
                }

                .rss {
                    display: block;
                    background: url('../images/sprite-socials.png') no-repeat -64px -1px;
                    width: 17px;
                    height: 16px;

                    &:hover {
                        background: url('../images/sprite-socials.png') no-repeat -64px -25px;
                        width: 17px;
                        height: 16px;
                    }
                }

                .linkedin {
                    display: block;
                    background: url('../images/sprite-socials.png') no-repeat -96px 0;
                    width: 17px;
                    height: 16px;

                    &:hover {
                    background: url('../images/sprite-socials.png') no-repeat -96px -24px;
                    width: 17px;
                    height: 16px;
                    }
                }

                .skype {
                    display: block;
                    background: url('../images/sprite-socials.png') no-repeat -129px 0;
                    width: 17px;
                    height: 16px;

                    &:hover {
                        background: url('../images/sprite-socials.png') no-repeat -129px -24px;
                        width: 17px;
                        height: 16px;
                    }
                }
            }           
        }
    }
}
